* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: linear-gradient(90deg, #333, #555);
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav {
    margin: 0 auto;
    max-width: 1200px;
}

nav a {
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transform: scale(1.1);
}

main {
    padding: 20px;
}

.carrinho {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.carrinho h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.item-carrinho {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin-bottom: 10px;
}

.item-carrinho img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 4px;
}

.detalhes-item {
    flex-grow: 1;
}

.detalhes-item p {
    margin-bottom: 10px;
    color: #333;
}

.preco {
    color: #007BFF;
    font-weight: bold;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    border: 2px solid #555;
    border-radius: 4px;
    outline: none;
}

input[type="number"]:focus {
    border-color: #007BFF;
}

.btn-remover {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-remover:hover {
    background-color: #cc0000;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.total p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}
