* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

header h1 {
    font-family: "Ewert", serif;
    font-size: 2.5em;
    color: #989ffd;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.btn-login {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, #333, #555);
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
}

nav a {
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

main {
    padding: 20px;
}

.contato {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
}

.contato h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.info-contato {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.info-contato h3 {
    margin-bottom: 10px;
    color: #007BFF;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
