* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header h1 {
    font-family: "Ewert", serif;
    font-size: 2.5em;
    color: #989ffd;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: linear-gradient(90deg, #333, #555);
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav {
    margin: 0 auto;
    max-width: 1200px;
}

nav a {
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transform: scale(1.1);
}

main {
    padding: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}

.produto-detalhes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produto-imagem img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produto-info {
    max-width: 500px;
}

.produto-info h2 {
    color: #333;
    margin-bottom: 10px;
}

.produto-info .descricao {
    color: #555;
    margin-bottom: 20px;
}

.produto-info .preco {
    color: #007BFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-adicionar-carrinho {
    display: inline-block;
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.btn-adicionar-carrinho:hover {
    background-color: #cc0000;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}
