* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: "Ewert", serif;
    font-size: 2.5em;
    color: #989ffd;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: linear-gradient(90deg, #333, #555);
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
}

nav a {
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transform: scale(1.1);
}

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 450px;
    margin-top: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #989ffd;
}

label {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input:focus {
    border-color: #989ffd;
    outline: none;
}

button {
    background-color: #989ffd;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #03613d;
}
