* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: "Ewert", serif;
    font-size: 2.5em;
    color: #989ffd;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-login {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #0056b3;
}


.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: linear-gradient(90deg, #333, #555);
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav {
    margin: 0 auto;
    max-width: 1200px;
}

nav a {
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transform: scale(1.1);
}

main {
    padding: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-intermediario img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.produto-destaque-text {
    text-align: center;
    margin-top: 10px;
}

.produtos-destaque, .lista-produtos {
    margin-bottom: 40px;
}

.produtos-destaque {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produto img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
}

.produto p {
    color: #333;
    margin: 10px 0;
}

.preco {
    color: #007BFF;
    font-weight: bold;
}

.btn-ver-detalhes {
    display: inline-block;
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-ver-detalhes:hover {
    background-color: #cc0000;
}

.lista-produtos {
    text-align: center;
}

.lista-produtos h2 {
    margin-bottom: 20px;
}

.produtos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produtos-lista .produto {
    width: calc(20% - 20px);
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}